.drawerparent{
    width: 0px;

    background-image: linear-gradient(to bottom right, #000, #1f2937, #111827);
    
}

.dp1{
    width: 30vw;
    background-color:  navy;
    background-image: linear-gradient(to bottom right, #000, #1f2937, #111827);

    height: 100vh;
}

@media screen and (max-width : 450px) {

    .dp1{
        width : 80vw ;
    
    }

 
}