*{
    /* overflow: hidden; */
}


::-webkit-scrollbar-track {
    background: transparent; /* Light gray background */
  }
  

.apppage{
    /* background-color: red; */
    width: 100vw;
    height: 100vh;
}


.apg1{
    flex: 0.05;
    height: 100%;
    background-color: #87f646ec;
    background-color: navy;
    background-image: linear-gradient(to bottom right, #000, #1f2937, #111827);

}


.apg2{
    flex: 0.95;
    height: 100%;
    /* background-color: blue; */
}


.apg11{
    flex: 0.1;
    width: 100%;
    /* background-color: red; */
}


.ap111{
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 50% ;
    border: 2px solid black;
}


.apg12{
    flex: 0.9;
    width: 100%;
    /* background-color: yellow; */
    background-image: linear-gradient(to bottom right, #000, #1f2937, #111827);

    gap: 2%;
}

.apg12i{

    height: 8%;
    width: 60%;
    /* background-color: pink; */


}


.icon{
    color: white;
    font-size: 150%;
    /* font-weight: bold ; */
}


@media screen and (max-width : 450px) {

    .icon{
        font-size: 120%;
    }

    .ap111{
        height: 60%;
    }


 
    
}


.ap111>img{
    height: 80%;
    width: 80%;
    border-radius: 50%;
}